USE [db47078]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
	[ProductSizeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [nvarchar](450) NOT NULL,
	[ReceiverId] [nvarchar](450) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsFromAdmin] [bit] NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
	[ChatSessionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatSessions]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatSessions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UnreadCount] [int] NOT NULL,
	[LastMessageAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboItems]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ComboId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboOffers]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboOffers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[BannerImageUrl] [nvarchar](500) NULL,
	[ComboPrice] [decimal](18, 2) NOT NULL,
	[OriginalPrice] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomepageSectionCategories]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomepageSectionCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomepageSectionProducts]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomepageSectionProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomepageSections]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomepageSections](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[SectionType] [nvarchar](50) NOT NULL,
	[SubTitle] [nvarchar](300) NULL,
	[BgColor] [nvarchar](20) NULL,
	[TextColor] [nvarchar](20) NULL,
	[BannerImageUrl] [nvarchar](500) NULL,
	[ButtonText] [nvarchar](100) NULL,
	[ButtonUrl] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeliveryZone] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[TransactionId] [nvarchar](100) NOT NULL,
	[ValidationId] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[PaymentMethod] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountPrice] [decimal](18, 2) NULL,
	[Stock] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ProductCode] [nvarchar](50) NULL,
	[PurchasePrice] [decimal](18, 2) NULL,
	[ProductVat] [decimal](18, 2) NOT NULL,
	[IsDiscountFixed] [bit] NOT NULL,
	[DiscountStartDate] [datetime2](7) NULL,
	[DiscountEndDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSizes]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SizeName] [nvarchar](100) NOT NULL,
	[SizeCode] [nvarchar](50) NULL,
	[SalesPrice] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnRequests]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[AdminNote] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[SubTitle] [nvarchar](200) NULL,
	[ButtonText] [nvarchar](100) NULL,
	[ButtonUrl] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 8/15/2026 3:10:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ProductId] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'role-admin-001', N'Admin', N'ADMIN', N'AD26BE37-BCF0-4436-9E95-CECC78E987E9')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'role-user-001', N'User', N'USER', N'61988611-3D65-4F34-87BB-BF4BC990F9C2')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'8cf49773-90f5-4061-8120-14151bebd911', N'role-user-001')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a3e3269f-e04f-49b0-8cde-bc01bbcb26d7', N'role-user-001')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'admin-user-001', N'role-admin-001')
GO
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Address], [CreatedAt], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'1', N'ফিরোজ আহমেদ', N'ঢাকা, বাংলাদেশ', CAST(N'2026-04-07T04:45:33.3866667' AS DateTime2), NULL, NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, 0, 0, NULL, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [UserId], [ProductId], [Quantity], [AddedAt], [ProductSizeId]) VALUES (1, N'user-raihan-002', 2, 1, CAST(N'2024-03-28T10:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Carts] ([Id], [UserId], [ProductId], [Quantity], [AddedAt], [ProductSizeId]) VALUES (2, N'user-raihan-002', 20, 2, CAST(N'2024-03-28T10:05:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Carts] ([Id], [UserId], [ProductId], [Quantity], [AddedAt], [ProductSizeId]) VALUES (3, N'user-nasrin-003', 4, 1, CAST(N'2024-03-28T14:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ImageUrl], [IsActive], [CreatedAt]) VALUES (1, N'ইলেকট্রনিক্স', N'ইলেকট্রনিক্স', N'/images/uploads/categories/6dd0e2f9-85a2-482f-b265-74fa4a07e760.jpg', 1, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ImageUrl], [IsActive], [CreatedAt]) VALUES (2, N'পোশাক', N'পোশাক', N'https://images.unsplash.com/photo-1441984904996-e0b6ba687e04?w=200&h=200&fit=crop', 1, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Categories] ([Id], [Name], [Slug], [ImageUrl], [IsActive], [CreatedAt]) VALUES (3, N'বই ও শিক্ষা', N'বই-ও-শিক্ষা', N'https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?w=200&h=200&fit=crop', 1, CAST(N'2024-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 

INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [Message], [IsRead], [IsFromAdmin], [SentAt], [ChatSessionId]) VALUES (1, N'a3e3269f-e04f-49b0-8cde-bc01bbcb26d7', N'admin', N'hi', 1, 0, CAST(N'2026-04-24T17:37:23.2095667' AS DateTime2), NULL)
INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [Message], [IsRead], [IsFromAdmin], [SentAt], [ChatSessionId]) VALUES (2, N'a3e3269f-e04f-49b0-8cde-bc01bbcb26d7', N'admin', N'helo', 1, 0, CAST(N'2026-04-24T17:37:32.3763916' AS DateTime2), NULL)
INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [Message], [IsRead], [IsFromAdmin], [SentAt], [ChatSessionId]) VALUES (3, N'a3e3269f-e04f-49b0-8cde-bc01bbcb26d7', N'admin', N'how are you?', 1, 0, CAST(N'2026-04-24T17:37:38.0956785' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatSessions] ON 

INSERT [dbo].[ChatSessions] ([Id], [UserId], [IsActive], [UnreadCount], [LastMessageAt]) VALUES (1, N'a3e3269f-e04f-49b0-8cde-bc01bbcb26d7', 1, 0, CAST(N'2026-04-24T17:39:07.4208236' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ChatSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[ComboItems] ON 

INSERT [dbo].[ComboItems] ([Id], [ComboId], [ProductId], [Quantity]) VALUES (1, 3, 18, 1)
INSERT [dbo].[ComboItems] ([Id], [ComboId], [ProductId], [Quantity]) VALUES (2, 3, 8, 1)
INSERT [dbo].[ComboItems] ([Id], [ComboId], [ProductId], [Quantity]) VALUES (3, 3, 9, 1)
SET IDENTITY_INSERT [dbo].[ComboItems] OFF
GO
SET IDENTITY_INSERT [dbo].[ComboOffers] ON 

INSERT [dbo].[ComboOffers] ([Id], [Title], [Description], [BannerImageUrl], [ComboPrice], [OriginalPrice], [IsActive], [StartDate], [EndDate], [SortOrder], [CreatedAt]) VALUES (3, N'new combo', N'this is test combo', N'/images/uploads/combos/83451abe-6fb4-4ab9-9a27-661234fcee73.jpg', CAST(1000.00 AS Decimal(18, 2)), CAST(1300.00 AS Decimal(18, 2)), 1, CAST(N'2026-04-27T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-28T00:00:00.0000000' AS DateTime2), 0, CAST(N'2026-04-27T01:49:36.4433910' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ComboOffers] OFF
GO
SET IDENTITY_INSERT [dbo].[HomepageSectionCategories] ON 

INSERT [dbo].[HomepageSectionCategories] ([Id], [SectionId], [CategoryId]) VALUES (1, 1, 1)
INSERT [dbo].[HomepageSectionCategories] ([Id], [SectionId], [CategoryId]) VALUES (2, 1, 2)
INSERT [dbo].[HomepageSectionCategories] ([Id], [SectionId], [CategoryId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[HomepageSectionCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[HomepageSectionProducts] ON 

INSERT [dbo].[HomepageSectionProducts] ([Id], [SectionId], [ProductId]) VALUES (1, 3, 1)
INSERT [dbo].[HomepageSectionProducts] ([Id], [SectionId], [ProductId]) VALUES (2, 3, 19)
INSERT [dbo].[HomepageSectionProducts] ([Id], [SectionId], [ProductId]) VALUES (3, 3, 4)
SET IDENTITY_INSERT [dbo].[HomepageSectionProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[HomepageSections] ON 

INSERT [dbo].[HomepageSections] ([Id], [Title], [SectionType], [SubTitle], [BgColor], [TextColor], [BannerImageUrl], [ButtonText], [ButtonUrl], [IsActive], [SortOrder], [CreatedAt]) VALUES (1, N'জনপ্রিয় ক্যাটাগরি', N'category', N'আপনার পছন্দের ক্যাটাগরি বেছে নিন', N'#f8f9fa', N'#1a1a2e', NULL, N'সব দেখুন', N'/Product', 1, 1, CAST(N'2026-04-27T01:22:04.8266667' AS DateTime2))
INSERT [dbo].[HomepageSections] ([Id], [Title], [SectionType], [SubTitle], [BgColor], [TextColor], [BannerImageUrl], [ButtonText], [ButtonUrl], [IsActive], [SortOrder], [CreatedAt]) VALUES (2, N'কম্বো অফার', N'combo', N'একসাথে কিনুন, বেশি সাশ্রয় করুন', N'#dbeafe', N'#92400e', NULL, N'সব অফার দেখুন', N'/Combo', 1, 2, CAST(N'2026-04-27T01:22:04.8266667' AS DateTime2))
INSERT [dbo].[HomepageSections] ([Id], [Title], [SectionType], [SubTitle], [BgColor], [TextColor], [BannerImageUrl], [ButtonText], [ButtonUrl], [IsActive], [SortOrder], [CreatedAt]) VALUES (3, N'নতুন পণ্য', N'product', N'সদ্য যোগ হওয়া পণ্যসমূহ', N'#ffffff', N'#1a1a2e', NULL, N'সব দেখুন', N'/Product', 1, 3, CAST(N'2026-04-27T01:22:04.8266667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HomepageSections] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 1, CAST(38000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (2, 1, 4, 1, CAST(1500.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice]) VALUES (3, 2, 10, 1, CAST(7200.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [UserId], [ShippingAddress], [Phone], [PaymentMethod], [Status], [TotalAmount], [Notes], [OrderDate], [UpdatedAt], [DeliveryZone]) VALUES (1, N'user-firoz-001', N'????? ??, ??? ??, ?????? ??, ????-????', N'01711111111', N'Cash on Delivery', N'Completed', CAST(39500.00 AS Decimal(18, 2)), NULL, CAST(N'2024-03-01T10:30:00.0000000' AS DateTime2), CAST(N'2024-03-05T16:00:00.0000000' AS DateTime2), N'ঢাকার ভিতর')
INSERT [dbo].[Orders] ([Id], [UserId], [ShippingAddress], [Phone], [PaymentMethod], [Status], [TotalAmount], [Notes], [OrderDate], [UpdatedAt], [DeliveryZone]) VALUES (2, N'user-raihan-002', N'????? ?, ?????? ?, ??????, ????-????', N'01722222222', N'Cash on Delivery', N'Shipped', CAST(7950.00 AS Decimal(18, 2)), N'????? ???????? ???? ???? ???', CAST(N'2024-03-10T14:20:00.0000000' AS DateTime2), CAST(N'2024-03-12T11:00:00.0000000' AS DateTime2), N'ঢাকার ভিতর')
INSERT [dbo].[Orders] ([Id], [UserId], [ShippingAddress], [Phone], [PaymentMethod], [Status], [TotalAmount], [Notes], [OrderDate], [UpdatedAt], [DeliveryZone]) VALUES (3, N'user-nasrin-003', N'??????? ???, ?????? ?, ????-????', N'01733333333', N'Cash on Delivery', N'Processing', CAST(28330.00 AS Decimal(18, 2)), NULL, CAST(N'2024-03-18T09:00:00.0000000' AS DateTime2), CAST(N'2024-03-18T15:00:00.0000000' AS DateTime2), N'ঢাকার ভিতর')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTransactions] ON 

INSERT [dbo].[PaymentTransactions] ([Id], [OrderId], [TransactionId], [ValidationId], [Status], [Amount], [Currency], [PaymentMethod], [CreatedAt], [UpdatedAt]) VALUES (1, 1004, N'TXN-1004-639112595783754285', N'', N'Pending', CAST(150.00 AS Decimal(18, 2)), N'BDT', N'', CAST(N'2026-04-08T15:39:38.3755724' AS DateTime2), NULL)
INSERT [dbo].[PaymentTransactions] ([Id], [OrderId], [TransactionId], [ValidationId], [Status], [Amount], [Currency], [PaymentMethod], [CreatedAt], [UpdatedAt]) VALUES (2, 1005, N'TXN-1005-639112596405788221', N'', N'Pending', CAST(1500.00 AS Decimal(18, 2)), N'BDT', N'', CAST(N'2026-04-08T15:40:40.5788247' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PaymentTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl], [IsPrimary]) VALUES (1, 1, N'https://images.unsplash.com/photo-1593784991095-a205069470b6?w=600&h=450&fit=crop', 1)
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl], [IsPrimary]) VALUES (2, 1, N'https://images.unsplash.com/photo-1571415060716-baff5f717c97?w=600&h=450&fit=crop', 0)
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageUrl], [IsPrimary]) VALUES (3, 2, N'https://images.unsplash.com/photo-1496181133206-80ce9b88a853?w=600&h=450&fit=crop', 1)
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSizes] ON 

INSERT [dbo].[ProductSizes] ([Id], [ProductId], [SizeName], [SizeCode], [SalesPrice], [Stock], [IsActive]) VALUES (1, 1002, N'M', N'SKU-003', CAST(200.00 AS Decimal(18, 2)), 10, 1)
INSERT [dbo].[ProductSizes] ([Id], [ProductId], [SizeName], [SizeCode], [SalesPrice], [Stock], [IsActive]) VALUES (2, 1002, N'XL', N'SKU-004', CAST(300.00 AS Decimal(18, 2)), 4, 1)
SET IDENTITY_INSERT [dbo].[ProductSizes] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnRequests] ON 

INSERT [dbo].[ReturnRequests] ([Id], [OrderId], [ProductId], [UserId], [Reason], [Status], [AdminNote], [CreatedAt], [UpdatedAt]) VALUES (1, 1004, 13, N'admin-user-001', N'পণ্যটি ক্ষতিগ্রস্ত অবস্থায় পেয়েছি', N'Refunded', N'asdfasfd', CAST(N'2026-04-24T10:31:02.9959204' AS DateTime2), CAST(N'2026-04-24T10:42:24.3388272' AS DateTime2))
INSERT [dbo].[ReturnRequests] ([Id], [OrderId], [ProductId], [UserId], [Reason], [Status], [AdminNote], [CreatedAt], [UpdatedAt]) VALUES (2, 1003, 19, N'admin-user-001', N'পণ্যের মান প্রত্যাশার চেয়ে খারাপ', N'Rejected', N'sdfasad', CAST(N'2026-04-24T10:43:26.7560555' AS DateTime2), CAST(N'2026-04-24T10:43:52.0431443' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ReturnRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [UserId], [ProductId], [Rating], [Comment], [CreatedAt]) VALUES (1, N'user-firoz-001', 1, 5, N'??????? ????! ???? ??? ??????? ??????? ??? ???????? ???? ????? ????? ???????? ????????', CAST(N'2024-03-06T10:00:00.0000000' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [UserId], [ProductId], [Rating], [Comment], [CreatedAt]) VALUES (2, N'user-raihan-002', 1, 4, N'???? ????? ??? Remote ?? ???? ???? ??? ? ????? ?????? Smart features ?? ??? ????', CAST(N'2024-03-15T14:00:00.0000000' AS DateTime2))
INSERT [dbo].[Reviews] ([Id], [UserId], [ProductId], [Rating], [Comment], [CreatedAt]) VALUES (3, N'user-nasrin-003', 4, 5, N'Noise Cancellation ??????????! ????? ????? ???? ??? ??? ????? ???? ???? Battery ??????????', CAST(N'2024-03-20T11:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([Id], [ImageUrl], [Title], [SubTitle], [ButtonText], [ButtonUrl], [IsActive], [SortOrder], [CreatedAt]) VALUES (1, N'/images/uploads/sliders/3ca279d2-c358-40b9-9b52-f2a1fe687852.jpeg', N'ShopManagementSystem-এ স্বাগতম', N'সেরা পণ্য সেরা মূল্যে — আজই কেনাকাটা শুরু করুন', N'এখনই কিনুন', N'/Product', 1, 1, CAST(N'2024-01-01T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[Sliders] ([Id], [ImageUrl], [Title], [SubTitle], [ButtonText], [ButtonUrl], [IsActive], [SortOrder], [CreatedAt]) VALUES (2, N'/images/uploads/sliders/72ea5959-34a9-48e4-b96a-e5a4aa99eb80.jpeg', N'গ্রীষ্মকালীন সেল — ৫০% পর্যন্ত ছাড়', N'সীমিত সময়ের অফার! দ্রুত অর্ডার করুন', N'অফার দেখুন', N'/Product?sortBy=price_asc', 1, 2, CAST(N'2024-01-02T08:00:00.0000000' AS DateTime2))
INSERT [dbo].[Sliders] ([Id], [ImageUrl], [Title], [SubTitle], [ButtonText], [ButtonUrl], [IsActive], [SortOrder], [CreatedAt]) VALUES (3, N'/images/uploads/sliders/42a61a8a-2c52-4314-ae6b-5cd1f7d4e31f.jpg', N'নতুন ইলেকট্রনিক্স কালেকশন', N'সর্বাধুনিক গ্যাজেট এখন বাংলাদেশে', N'কালেকশন দেখুন', N'/Product?categoryId=1', 1, 3, CAST(N'2024-01-03T08:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Sliders] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlists] ON 

INSERT [dbo].[Wishlists] ([Id], [UserId], [ProductId], [AddedAt]) VALUES (1, N'user-firoz-001', 2, CAST(N'2024-03-05T11:00:00.0000000' AS DateTime2))
INSERT [dbo].[Wishlists] ([Id], [UserId], [ProductId], [AddedAt]) VALUES (2, N'user-firoz-001', 19, CAST(N'2024-03-15T14:30:00.0000000' AS DateTime2))
INSERT [dbo].[Wishlists] ([Id], [UserId], [ProductId], [AddedAt]) VALUES (3, N'user-raihan-002', 3, CAST(N'2024-03-08T10:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Wishlists] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cart_User_Product]    Script Date: 8/15/2026 3:10:20 PM ******/
ALTER TABLE [dbo].[Carts] ADD  CONSTRAINT [UQ_Cart_User_Product] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChatSess__1788CC4D1D466166]    Script Date: 8/15/2026 3:10:20 PM ******/
ALTER TABLE [dbo].[ChatSessions] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentT__55433A6AEEB309D6]    Script Date: 8/15/2026 3:10:20 PM ******/
ALTER TABLE [dbo].[PaymentTransactions] ADD UNIQUE NONCLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PaymentT__C3905BCE8FC77F0A]    Script Date: 8/15/2026 3:10:20 PM ******/
ALTER TABLE [dbo].[PaymentTransactions] ADD UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Review_User_Product]    Script Date: 8/15/2026 3:10:20 PM ******/
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [UQ_Review_User_Product] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Wishlist_User_Product]    Script Date: 8/15/2026 3:10:20 PM ******/
ALTER TABLE [dbo].[Wishlists] ADD  CONSTRAINT [UQ_Wishlist_User_Product] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [PhoneNumberConfirmed]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [TwoFactorEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [LockoutEnabled]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [AccessFailedCount]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [IsFromAdmin]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[ChatSessions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ChatSessions] ADD  DEFAULT ((0)) FOR [UnreadCount]
GO
ALTER TABLE [dbo].[ChatSessions] ADD  DEFAULT (getdate()) FOR [LastMessageAt]
GO
ALTER TABLE [dbo].[ComboItems] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ComboOffers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ComboOffers] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ComboOffers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HomepageSections] ADD  DEFAULT ('category') FOR [SectionType]
GO
ALTER TABLE [dbo].[HomepageSections] ADD  DEFAULT ('#ffffff') FOR [BgColor]
GO
ALTER TABLE [dbo].[HomepageSections] ADD  DEFAULT ('#000000') FOR [TextColor]
GO
ALTER TABLE [dbo].[HomepageSections] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HomepageSections] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[HomepageSections] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Cash on Delivery') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'ঢাকার ভিতর') FOR [DeliveryZone]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  DEFAULT ('BDT') FOR [Currency]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [ProductVat]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsDiscountFixed]
GO
ALTER TABLE [dbo].[ProductSizes] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[ProductSizes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ReturnRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ReturnRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Sliders] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sliders] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Sliders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Wishlists] ADD  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_ProductSizes] FOREIGN KEY([ProductSizeId])
REFERENCES [dbo].[ProductSizes] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_ProductSizes]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD FOREIGN KEY([ChatSessionId])
REFERENCES [dbo].[ChatSessions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD FOREIGN KEY([SenderId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ChatSessions]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComboItems]  WITH CHECK ADD FOREIGN KEY([ComboId])
REFERENCES [dbo].[ComboOffers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComboItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[HomepageSectionCategories]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[HomepageSectionCategories]  WITH CHECK ADD FOREIGN KEY([SectionId])
REFERENCES [dbo].[HomepageSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomepageSectionProducts]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[HomepageSectionProducts]  WITH CHECK ADD FOREIGN KEY([SectionId])
REFERENCES [dbo].[HomepageSections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_Orders]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSizes]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReturnRequests]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReturnRequests]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ReturnRequests]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
